/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #f7f7f7;
  color: #131313;
  margin: 30px 0 0 0;
  min-width: 750px;
}
h1 {
  font-family: 'Roboto', serif;
  font-weight: normal;
  font-size: 70px;
  padding: 0;
  margin: 0;
  font-weight: 100;
  color: #131313;
}
header {
  text-align: center;
}
main {
  text-align: center;
  position: relative;
  background-color: #f0f0f0;
  margin-top: 30px;
  padding-bottom: 30px;
  height: calc(100vh - 250px);
  min-height: 400px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
main .msg {
  font-family: 'Roboto', serif;
  font-size: 50px;
  font-weight: 100;
  height: auto;
  align-self: center;
  opacity: 0;
  transition: color 0.5s;
  transition: opacity 2s;
  text-decoration: none;
  color: #131313;
}
main .msg.show {
  opacity: 1;
  cursor: pointer;
}
main .msg input {
  vertical-align: text-top;
  height: 57px;
  width: 160px;
  border: none;
  background-color: white;
  font-size: 47px;
  line-height: 47px;
  padding: 0 20px;
  text-align: center;
  font-weight: 100;
}
main .msg button {
  font-size: 41px;
  border: none;
  background-color: white;
  margin-top: 30px;
  padding: 5px 64px;
  font-weight: 100;
  transition: 0.5s;
  cursor: pointer;
}
main .msg button:hover {
  background-color: #912458;
  color: white;
}
main .msg .myscore {
  font-size: 20px;
  margin: 30px 0 60px 0;
}
main .msg .highscores {
  font-size: 30px;
  margin-bottom: 20px;
}
main .msg .highscores-list {
  font-size: 16px;
  width: 150px;
  margin: auto;
  clear: both;
}
main .msg .highscores-list .left {
  width: 75px;
  float: left;
}
main .msg .highscores-list .right {
  width: 75px;
  float: right;
  text-align: right;
  color: #912458;
}
main .timer {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  width: 120px;
  height: 20px;
  font-size: 28px;
  font-weight: 100;
}
main .score {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  width: 120px;
  height: 20px;
  font-size: 28px;
  font-weight: 100;
}
main .image-to-guess .letter-holder {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
main .image-to-guess .letter-holder .letter {
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
  margin: 20px;
  line-height: 50px;
  font-size: 30px;
  text-transform: uppercase;
  transition: 1s;
}
main .image-to-guess .letter-holder .letter div {
  opacity: 0;
}
main .image-to-guess .letter-holder .letter div.visible {
  opacity: 1;
  transition: 0.5s;
}
main .image-to-guess .letter-holder.wrong .letter {
  background-color: #f0afce;
}
footer {
  padding: 30px;
  font-size: 14px;
  text-align: center;
}
.loader {
  border: 3px solid #f7f7f7;
  border-radius: 50%;
  border-top: 3px solid #912458;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  align-self: center;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
