<div class="loader" ng-hide="loaded"></div>
<div class="timer" ng-show="gameOn">Time: {{time}}</div>
<div class="score" ng-show="gameOn">Score: {{score}}</div>
<div class="image-to-guess" ng-show="gameOn">
    <img ng-src="images/{{activeImage.image}}">
    <div class="letter-holder" ng-class="{'wrong':wrong}">
        <div class="letter" ng-repeat="letter in letters track by $index">
            <div>{{letter}}</div>
        </div>
    </div>
</div>
<div class="msg" ng-show="!gameOn && loaded" ng-class="{'show' : !gameOn}">
    <h1>Game over<h1>
        <div class="myscore">
        Your Score: {{score}}
        </div>
        <div class="highscores">High Scores:</div>
        <div class="highscores-list" ng-repeat="hs in highscores track by $index">
            <div class="left">{{hs.name}}</div>
            <div class="right">{{hs.score}}</div>
        </div>
</div>
